/*
selector{
    propiedad:valor;
}
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Inicio de index CSS*/
.navegacion {
  /*esto sirve para poner las secciones de lado o imagenes*/
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  border: 3px solid;
  color: whitesmoke;
  border-color: #a9ddff;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

li {
  display: inline-block;
}

.titulo {
  display: block;
  width: 100%;
  left: -700px;
  color: #242424;
  font-size: 60px;
  text-align: center;
  margin-bottom: 25px;
}

body {
  background-color: #e6ece6e0;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo {
  text-align: center;
  color: #242424;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
  border: 3px solid white;
  border-radius: 4px;
}

.gif {
  text-align: center;
  margin-top: 25px;
}

.contenedor_new {
  max-width: 1300px;
  border: solid white;
  margin: auto;
  background-color: white;
}

.contenedor_new .informacion {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

.contenedor_new .def_parrafo p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: auto;
  font-size: 20px;
  max-width: 900px;
  margin-bottom: 15px;
}

.contenedor3 {
  max-width: 1300px;
  background-color: white;
  margin: auto;
}

.contenedor4 {
  max-width: 1300px;
  background-color: white;
  margin: auto;
}

.ofertas {
  color: #242424;
  font-style: oblique;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid whitesmoke;
  border-radius: 4px;
}

.color {
  color: #e99d9d;
  font-style: italic;
}

.topvege {
  width: 250px;
  height: auto;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}

.melaza {
  width: 200px;
  height: auto;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}

.parrafo {
  letter-spacing: 2px;
  text-align: center;
  color: #242424;
  font-size: 20px;
  border: 1px solid #242424;
  border-radius: 5px;
  padding: 30px;
  margin: 25px;
}

.link {
  color: #242424;
  text-decoration: none;
}

.link :hover {
  opacity: 0.8;
  -webkit-transition: all;
  transition: all;
}

.imagenes {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #0c2b0f;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 100px;
  margin-left: 50px;
}

.box__footer .logo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: whitesmoke;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: whitesmoke;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: whitesmoke;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

.img_grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: oblique;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid2 img {
  border: 1px solid #242424;
  width: 37%;
}

@media only screen and (max-width: 600px) {
  .grid2 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
      grid-template-areas: "melaza" "topvege";
}

/* PRUEBA NUMERO UNO RAMA STYLE ANIMACIONES TRANSICIONES*/
.navegacion ul li a:hover {
  background-color: green;
  max-width: 100%;
  top: 10px;
  border: 2px solid;
}

/* Inicio de productos CSS*/
.productos_ {
  background-color: white;
  max-width: 1400px;
  margin: auto;
}

.hdos {
  max-width: 1400px;
  color: #242424;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 30px;
  margin-bottom: 20px;
}

.colorProducto {
  margin-top: 10px;
  color: thistle;
  font-style: oblique;
}

.carrito {
  font-size: 13px;
}

.grid {
  background-color: white;
  max-width: 1400px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
  width: 100%;
}

.img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
  width: 100%;
}

.img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img3;
  width: 100%;
}

.img4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img4;
  width: 100%;
}

.img5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img5;
  width: 100%;
}

.img6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img6;
  width: 100%;
}

.img7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img7;
  width: 100%;
}

.img8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img8;
  width: 100%;
}

.img9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img9;
  width: 100%;
}

.img10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: img10;
  width: 100%;
}

.img11 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img11;
  width: 100%;
}

.img12 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: img12;
  width: 100%;
}

.card-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-grid {
  margin-top: 15px;
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 905px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img10" "img11 img12";
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[12];
        grid-template-rows: repeat(12, auto);
        grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10" "img11" "img12";
  }
}

/* Inicio de Parafernalia*/
.card-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #242424;
}

.h5 {
  color: #242424;
}

.content_new {
  margin: auto;
  max-width: 1400px;
  background-color: white;
}

.product {
  color: #242424;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
  margin-bottom: 25px;
  border: 3px solid white;
  border-radius: 4px;
}

.tienda2 {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  color: #242424;
  text-align: var(--bs-body-text-align);
  font-weight: bolder;
  font-family: var(--bs-body-font-family);
  line-height: var(--bs-body-line-height);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.Grid {
  max-width: 1500px;
  background-color: white;
  margin: 60px;
  gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8" "foto9 foto10 foto11 foto12" "foto13 foto14 foto15 foto16";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
  width: 100%;
}

.foto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto2;
  width: 100%;
}

.foto3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: foto3;
  width: 100%;
}

.foto4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: foto4;
  width: 100%;
}

.foto5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto5;
  width: 100%;
}

.foto6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto6;
  width: 100%;
}

.foto7 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: foto7;
  width: 100%;
}

.foto8 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: foto8;
  width: 100%;
}

.foto9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foto9;
  width: 100%;
}

.foto10 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: foto10;
  width: 100%;
}

.foto11 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: foto11;
  width: 100%;
}

.foto12 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: foto12;
  width: 100%;
}

.foto13 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: foto13;
  width: 100%;
}

.foto14 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: foto14;
  width: 100%;
}

.foto15 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: foto15;
  width: 100%;
}

.foto16 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: foto16;
  width: 100%;
}

@media only screen and (max-width: 905px) {
  .Grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 foto10" "foto11 foto12" "foto13 foto14" "foto15 foto16";
  }
}

@media only screen and (max-width: 600px) {
  .Grid {
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: (auto)[16];
        grid-template-rows: repeat(16, auto);
        grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" "foto9" "foto10" "foto11" "foto12" "foto13" "foto14" "foto15" "foto16";
  }
}

/*Inicio de Nosotros*/
.contenedor2 {
  max-width: 1400px;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .nosotros {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 30px 10px 10px;
  padding: 10px 10px 10px;
  text-align: center;
}

.contenedor .parrafoNosotros {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 10px 10px;
  color: #242424;
  text-align: center;
}

.contenedor .parrafoNosotro {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 10px 10px;
  color: #242424;
  text-align: center;
}

.contenedor .localizacion {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: yellowgreen;
}

.contenedor .mapa {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.contenedor .ubicacion {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 10px 10px;
  padding: 10px 10px 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .localizacion {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .localizacion {
    padding: 10px;
  }
}

@media only screen and (max-width: 1025px) {
  .localizacion {
    padding: 10px;
  }
}

/*Inicio Formulario*/
.formulario {
  background-color: #2D3748;
  color: white;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formulariO {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #242424;
}

.INFO {
  margin: 10px;
  padding: 6px 15px 6px 15px;
  font-size: 30px;
  color: #242424;
}

#tittle {
  max-width: 500px;
  background-color: white;
  margin: auto;
  color: white;
  text-align: center;
}

.conteiner {
  background-color: none;
  margin: auto;
}

.caja {
  margin: 0 auto;
  border: 2px solid #242424;
  width: 600px;
}

.form {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .caja {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    border: none;
  }
}

@media only screen and (max-width: 320px) {
  .caja {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    border: none;
  }
}
/*# sourceMappingURL=estilos.css.map */