selector{
    propiedad:valor;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Inicio de index CSS*/

.navegacion ul li a{
    /*esto sirve para poner las secciones de lado o imagenes*/
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 3px solid;
    color: whitesmoke;
    border-color: rgb(169, 221, 255);
}

li{
    display: inline-block;
}


p{
    font-style: oblique;
}
.titulo{
    background-image: url("../imagenes/logo.jpg");
    display:block;
    width: 100%;
    left: -700px; 
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px
}


body{
    background-color: rgb(216, 226, 226);
}


.index{
    font-style: oblique;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url("../imagenes/fondogrow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navegacion{
    font-family: 'Courier New', Courier, monospace;
}





footer{
    background-color: royalblue;
}
.fondo{
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    border: 3px solid white;
    border-radius: 4px;
}


.ofertas{
    color: whitesmoke;
    font-style: oblique;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid whitesmoke;
    border-radius: 4px;
}

.color{
    color: rgb(233, 157, 157);
    font-style: italic;
}

.colorProducto{
    color: thistle;
    font-style: oblique;
}



.topvege{
    margin: -20px 10px 10px 750px;
    padding: 50px 10px 10px 10px;
    border-radius: 10px;
}

.melaza{
    padding: 10px 10px 10px 10px;
    margin: 30px 10px 10px 750px;
    border-radius: 10px;
    
}

strong{
    color: white;
}

.imagenes{
    text-align: center;
    align-items: center;
}

.futer{
    text-align: center;
}

.listaFuter{
    font-size: 16px;
    font-style: oblique;
    text-align: right;
}

footer{
    background-image: url("../imagenes/logo.jpg");
}

.text0{
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 10px;
}


/* PRUEBA NUMERO UNO RAMA STYLE ANIMACIONES TRANSICIONES*/

.navegacion ul li a:hover{
    background-color: green;
    max-width: 100%;
    top: 10px;
    border: 2px solid;
}

.titulo:hover{
    
}




/* Inicio de productos CSS*/

.colorProducto{
    color: thistle;
    font-style: oblique;
}

.carrito{
    font-size: 13px;
}

.hdos{
    color: white;   
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid whitesmoke;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.grid{
    align-items: center;
    margin-left: 250px;
    margin-top: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11 img12"
    ;
}

.img1{
    grid-area: img1;
}

.img2{
    grid-area: img12;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.img7{
    grid-area: img7;
}

.img8{
    grid-area: img8;
}

.img9{
    grid-area: img9;
}

.img10{
    grid-area: img10;
}

.img11{
    grid-area: img11;
}

.img12{
    grid-area: img12;
}


@media only screen and (max-width: 425px){

    nav{
        background-color: white; 
    }

    .grid{
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(12,1fr);
    grid-template-areas: 
    "img1"
    "img2" 
    "img3"
    "img4"
    "img5" 
    "img6"
    "img7"
    "img8"
    "img9"
    "img10"
    "img11" 
    "img12"
    ;
    }
}









/* Inicio de Parafernalia*/
.h5{
    color: white;
}

.product{
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    margin-bottom: 25px;
    border: 3px solid white;
    border-radius: 4px;
}

.tienda{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: violet;
}

.Grid{
    margin-top: 10px;
    margin-left: 230px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2 foto3 foto4"
    "foto5 foto6 foto7 foto8"
    "foto9 foto10 foto11 foto12"
    "foto13 foto14 foto15 foto16"
    ;
}

.foto1{
    grid-area: foto1;
}

.foto2{
    grid-area: foto2;
}

.foto3{
    grid-area: foto3;
}

.foto4{
    grid-area: foto4;
}

.foto5{
    grid-area: foto5;
}

.foto6{
    grid-area: foto6;
}

.foto7{
    grid-area: foto7;
}

.foto8{
    grid-area: foto8;
}

.foto9{
    grid-area: foto9;
}

.foto10{
    grid-area: foto10;
}

.foto11{
    grid-area: foto11;
}

.foto12{
    grid-area: foto12;
}

.foto13{
    grid-area: foto13;
}

.foto14{
    grid-area: foto14;
}

.foto15{
    grid-area: foto15;
}

.foto16{
    grid-area: foto16;
}









/*Inicio Formulario*/

.formulario{
    background-color: #2D3748;
    color: white;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 4px;

}

#formulariO{
    display: inline-block;
}

.contacto{
    margin-top: 30px;
}

.INFO{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Inicio de Nosotros*/


.nosotros{
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 10px 10px;
    padding: 10px 10px 10px;
    background-color: rgb(227, 150, 247);
    text-align: center;

}

.parrafoNosotros{
    margin: 10px 10px 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: whitesmoke;
    text-align: center;
}

.ubicacion{
    padding: 10px 10px 10px;
    background-color: rgb(227, 150, 247);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

.parrafoNosotro{
    margin: 10px 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
}

.localizacion{
    padding: 10px 10px 10px 650px;
    text-align: center;
    color:yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}
